<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>personPicker</title>
</head>
<body>
    <header>
        <h1>Person Picker</h1>
    </header>
    <div class="container">
        <form action="/main" method="POST">
            <input type="text" placeholder="Enter Student Name" name="name">
            <button type="submit">Add Student</button>
        </form>
        <a href="/main/edit">
            <button>Edit Class</button>
        </a>
    </div>
    <div>
        <h3>Student Chosen</h3>
        <ul>
            <% names.forEach(function(name) { %> 
            <li><%= name.name %></li>
            <% }); %> 
        </ul>
    </div>
    <div>
        <h3>Yet to be Choose</h3>
        <ul>
            <li>
                
            </li>
        </ul>
    </div>
</body>
</html>